<div class="text-center mt-3">
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">Posição</th>
        <th scope="col">Foto Parlamentar</th>
        <th scope="col">Informações</th>
      </tr>
    </thead>
    <tbody>
      <% @ranking.each_with_index do |row, index| %>
      <tr>
        <th scope="row"> <%= index + 1 %></th>
        <td> <%= image_tag(row.picture_url, height: 150) %></td>
        <td>
          <p><%= row.name %> </p>
          <p><%= Deputy.human_attribute_name('amount_spent') %>: <%= money(row.amount_spent) %></p>
          <p><%= Deputy.human_attribute_name('biggest_expenditure') %>: <%= money(row.biggest_expenditure) %></p>
          <p> <%= link_to 'Ver detalhes do parlamentar', deputy_path(row.id) %> </p>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>